html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	color: #444;
	/*font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;*/
	font-family: 'Courier New', Courier, monospace;
	font-size: 1em;
	line-height: 1.7;
	background: #fefefe;
}

a {
	color: #0645ad;
	text-decoration: none;
}

a:visited {
	color: #0b0080;
}

a:hover {
	color: #06e;
}

a:active {
	color: #faa700;
}

a:focus {
	outline: thin dotted;
}

#mapid {
	height: 600px;
}

.mapboxgl-popup {
	max-width: 400px;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/*color: #111;*/
	color: #e822c0;
	line-height: 125%;
	font-weight: normal;
	transition-duration: 0.7s;
}

#karte{
	position:relative;
}

#info-box {
	background-color: white;
	border: 1px solid black;
	bottom: 30px;
	height: 20px;
	width: 250px;
	position: absolute;
	left: 30px;
	z-index: 1;
	padding: 15px;
}


.enlist {
	width:50%;
	float:left;
}

.email {
	font-family: monospace;
	font-size: 12px;
}

.email_design {
	position: relative;
	left: 50px;
}

.title {
	text-align: center;
	text-decoration: underline;
	margin-top: 2em;
	margin-bottom: 1em;
}

table {
	margin-top: 2em;
	padding: 0px;
	border-spacing: 0;
}

.scores td, th {
	text-align: center;
	padding: 15px;
}

.auflistung td, th{
	text-align: center;
}

.blinking-cursor {
	font-weight: 200;
	font-size: 16px;
	color: #2E3D48;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes "blink" {
	from, to {
		color: transparent;
	}
	50% {
		color: black;
	}
}

@-moz-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: black;
	}
}

@-webkit-keyframes "blink" {
	from, to {
		color: transparent;
	}
	50% {
		color: black;
	}
}

@-ms-keyframes "blink" {
	from, to {
		color: transparent;
	}
	50% {
		color: black;
	}
}

@-o-keyframes "blink" {
	from, to {
		color: transparent;
	}
	50% {
		color: black;
	}
}


