<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Gottkanzler</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/stylesheet.css">
	</head>

	<body class="container">
		<h1 class="title">Gottkanzler</h1>

		<p class="error"> Hmmm<br/><br/>Damn, es ist ein Fehler aufgetreten!</p>

		Fehlermeldung:
		<code>
			{{error}}
		</code>

		<br/>
		Wenn du Hilfe brauchst schreibe an <em>&lthuman@gottkanzler.net&gt</em>.


	</body>

</html>
