<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Gottkanzler</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/stylesheet.css">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7CegvE6nmHVJ0DS08J4CLnVZDgkT8YEc&callback=initMap&libraries=geometry">
		</script>
		<script>
			var map;
function initMap() {
	map = new google.maps.Map(document.getElementById('mapid'), {
		zoom: 7,
		center: new google.maps.LatLng(47.5, 14)
	});

	map.data.loadGeoJson("/api/bezirke/{{game._id.$oid}}");

	function set_marker(feature, pos) {
		var party = feature.getProperty('party');
		var figure = feature.getProperty('figure');
		var color = feature.getProperty('color');
		var icon = "";

		if(party.substr(0, 1) == "\"")
			party = party.substr(1);

		if(party.substr(party.length - 1, 1) == "\"") {
			party = party.substr(0, party.length -1);
		}

		if(figure == "Turm") {
			icon ="/static/" + party.trim() + "_tower.png";
		}
		else if(figure == "Reiter") {
			icon ="/static/" + party.trim() + "_reiter.png";
		}

		var marker = new google.maps.Marker({
			position: pos,
			icon: {
				url: icon,
				scaledSize: new google.maps.Size(25, 25)
			},
			title: figure + " von " +party + " ist auf dem Feld"
		});

		marker.setMap(map);
	}

	google.maps.event.addListener(map.data, 'addfeature', function (e) {
		if (e.feature.getGeometry().getType() === 'MultiPolygon') {
			var bounds = new google.maps.LatLngBounds();
			var geo = e.feature.getGeometry().getArray();

			for (var i = 0; i < geo.length; i++) {
				for (var j = 0; j < geo[i].length; j++) {
					bounds.extend(geo[i][j]);
				}
			}

			e.feature.setProperty('center', bounds.getCenter());
		}
		if (e.feature.getGeometry().getType() === 'Polygon') {
			var bounds = new google.maps.LatLngBounds();

		      e.feature.getGeometry().getArray().forEach(function (path) {

		      path.getArray().forEach(function (latLng) { bounds.extend(latLng); })

		      });

		      e.feature.setProperty('center', bounds.getCenter());
		      }
		      if (e.feature.getGeometry().getType() === 'Point') {
		      var prop = e.feature.getProperty('coords');

		      if (prop.type === 'Polygon') {
		      var coords = prop.coordinates;
		      var coords_mapped = coords.map(function (path) {
		      return path.map(function (point) {
		      return {
		      lat: point[1],
		      lng: point[0]
		      };
		      });
		      });

		      var bounds = new google.maps.LatLngBounds();

		      coords_mapped[0].forEach(function (p) {
		      bounds.extend(new google.maps.LatLng(p.lat, p.lng));
		      });

		      set_marker(e.feature, bounds.getCenter());
		      }
		      if (prop.type === 'MultiPolygon') {
		      var coords = prop.coordinates;
		      var coords_mapped = coords.map(function (path) {
		      return _.flatten(path.map(function (path2) {
		      return path2.map(function (point) {
		      return {
		      lat: point[1],
		      lng: point[0]
		      };
		      });
		      }));
		      });

		      var bounds = new google.maps.LatLngBounds();

		      var index = 0;

		      if (coords_mapped[0].length < coords_mapped[1].length) {
		      index = 1;
		      }

		      coords_mapped[index].forEach(function (p) {
		      bounds.extend(new google.maps.LatLng(p.lat, p.lng));
		      });

		      set_marker(e.feature, bounds.getCenter());
		      }
		      }
		      });

		      map.data.setStyle(function (feature) {
		      var values = _.filter(feature.getProperty('values'), function (o) {
		      return o.value >= 50;
		      });

			      var title = '';
			      var color = '#9eafc7';
			      var fillOp = 0;

			      if (values.length > 0) {
				      title = values[0].title;
				      color = values[0].color;
				      fillOp = values[0].value / 100;
				      fillOp = fillOp > 0.2 ? fillOp - 0.1 : fillOp;
			      }

			      return {
				      title: title,
				      fillColor: color,
				      strokeWeight: 1,
				      fillOpacity: fillOp
			      };
		      });

	map.data.addListener('mouseover', function (event) {
		document.getElementById('info-box').textContent =
			event.feature.getProperty('name');
	});

}
		</script>
	</head>

	<body class="container">
		<h1 class="title">Gottkanzler</h1>
		<h2>Spieler</h2>
		<ul>
			{{#each game.members}}
			<li>{{email}} ({{party}})</li>
			<ul>
				{{#each figures}}
				<li>
					Mit
					<b>{{figure}}</b> in
					<em>{{district}}</em>
				</li>
				{{/each}}
			</ul>
			{{/each}}
		</ul>

		<hr> {{#if game.game_over}}
		<h2 class="message">Das ist Spiel ist beendet</h2>
		{{/if}} {{#if game.game_started}}

		<h2>Karte</h2>
		<div id="karte">
			<div id="info-box">Bezirk ausgewählt...</div>
			<div id="mapid">
			</div>
		</div>

		<hr>

		<h2>Punktestand</h2>
		<div>
			<table class="table scores table-striped table-sm table-responsive-md">
				<tr>
					<th>Partei</th>
					<th>Stand</th>
					<th>Stand in %</th>
				</tr>
				{{#each scores}}
				<tr>
					<td>{{party}}</td>
					<td>{{value}}</td>
					<td>{{value_p}}</td>
				</tr>
				{{/each}}
			</table>
		</div>

		<hr>

		<h2>Party-Presence</h2>

		<table class="table auflistung table-hover table-sm table-responsive-md">
			<tr class="row">
				<th class="col">
					&nbsp;
				</th>
				{{#each game.map[0].values}}
				<th class="col">
					{{name}}
				</th>
				{{/each}}
			</tr>
			{{#each game.map}}
			<tr class="row">
				<td class="col">{{name}}</td>
				{{#each values}}
				<td class="col">
					{{value}}
				</td>
				{{/each}}
			</tr>
			{{/each}}

		</table>

		<script>

		</script> {{else}}

		<h2 class="message">Das Spiel wurde noch nicht gestartet</h2>

		{{/if}}

	</body>

</html>
