<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/stylesheet.css">
		<title>Gottkanzler</title>
	</head>

	<body>
		<h1 class="title">Gottkanzler</h1>
		<div class="container">
			<div class="row">
				<div class="enlist">
					<h2>Join</h2>
					<form action="user" method="post">
						<div class="form-group">
							Email:
							<input type="email" class="form-control" placeholder="Email" name="email" /> </br>
							Token:
							<input type="text" class="form-control"  placeholder="Token" name="token" /> </br>
							<input class="btn btn-success" type="submit" value="Join" />
						</div>
					</form>

					<hr style="margin-top:35px">

					<h2>Neues Spiel</h2>

					<form action="game" method="post">
						<div class="form-group">
							Email:
							<input type="email" class="form-control" placeholder="Email" name="email" />
							</br>
							<input class="btn btn-warning" type="submit" value="Create" />
						</div>
					</form>

				</div>
				<div class="email_design email d-none d-md-block">
					<p>Date: Fri, 20 Jul 2018 14:38:59 +0200</br>
					From: Kevin Per &ltkevp.per@gmail.com&gt</br>
					To: &ltserver@gottkanzler.net&gt</br>
					Subject: Hello World!</br>
					Body:
					</br>
					**Let's fetz!** <span class="blinking-cursor">|</span>
					</p>
				</div>
			</div>

			<hr>

			<div class="row" style="margin-top: 25px">
				<div class="col-2 offset-md-5">
					<a href="/readme" ><h4>README</h4></a>
				</div>
			</div>

		</div>
	</body>

</html>
