<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/stylesheet.css">
		<title>Gottkanzler</title>
	</head>

	<body>
		<h1 class="title">Gottkanzler</h1>
		<div class="container">
			<div class="enlist">
				Gottkanzler ist ein Email-basiertes Politikplanspiel. Du schlüpfst in die Rolle eines Strategen der Gebiete für seine Partei
				erobern musst. Das Spielfeld ist die Österreich-Karte, welches in Bezirke unterteilt wurde. Auf dieser Karte müssen deine Figuren:<br/>
				<ul>
					<li>Reiter</li>
					<li>Turm</li>
				</ul>
				bewegt werden. Du kannst deine Figuren pro Runde jeweils einmal bewegen.<br/><br/>

				Ein Zug ist <em>erfolgreich</em>, wenn ...
				<ol>
					<li>die Figuren auf ein Nachbarschaftsfeld bewegt werden.</li>
					<li><span style="text-decoration:underline">keine</span> andere Figure auf diesem Feld ist.</li>
				</ol>

				Sollten mehrere Spieler ihre Figuren auf das selbe Feld bewegen, ist der Spieler erfolgreich, der mehr Figuren auf das Spielfield bewegt hat, ansonsten
				verlieren alle Spieler den Zug. (Einen Zug zu verlieren bedeutet, dass die Figuren am Ausgangspunkt stehen bleiben.)<br/><br/>

				Ein Sieg wird erzielt, wenn eine Partei 50% von der insgesamten <i>Party-Presence</i> besitzt. Die Party-Presence repräsentiert wie stark die Partei in einem Bezirk
				vertreten ist. Party-Presence kann aufgebaut werden, indem sich eine Figur auf einem Feld befindet. Gleichzeitig wird gegnerische Party-Presence abgebaut.<br/><br/>

				Ein Zug wird schriftlich über Email dem Server übermittelt. Der Server wertet am Rundenende(Tagesende) alle Züge automatisch aus und generiert dann eine Spielkarte auf
				die über das Internet zugegriffen werden kann. Um einen Zug zu übermitteln muss eine Email an <em>server@gottkanzler.at</em> gesendet werden, dabei muss als erstes Zeichen
				ein <em>$</em> stehen um anzudeuten, dass es sich um ein Kommando handelt. Danach schreibt man was man tun möchte, welche Figur und auf welches Feld die Figur bewegt werden soll. Ein Kommando muss immer in einer Zeile stehen - also keine Zeilenumbrüche!
				<br/><br/>

				Ein Beispiel lautet: <em>$ Zug mit Reiter nach Wien(Stadt)</em>. Beachten sollte man, dass die Bezirke so geschrieben werden sollten, wie sie auch im Web sind, damit sie auch vom Server interpretiert werden können. Für gewöhnlich lassen sich aber Klammern weglassen, also <code>Wien</code> würde genügen.

				<br/><br/>

				Eine vollständige Email lautet: <br/><br/>

				<div class="email" style="font-size: 1em">
					<p>Date: Fri, 20 Jul 2018 14:38:59 +0200</br>
				From: Kevin Per &ltkevp.per@gmail.com&gt</br>
				To: &ltserver@gottkanzler.net&gt</br>
				Subject: Hello World!</br>
				Body:
				</br>
				<em>$ Zug mit Reiter nach Wien<br/>
					$ Zug mit Turm nach Horn
				</em><span class="blinking-cursor">|</span>
					</p>

				</div>

				<br/>

				<hr>

				<h3>Spielablauf</h3>

				Angenommen drei Spieler spielen ein Spiel: Schuster, Lautner und Tobi.

				<ol>
					<li>Schuster erstellt ein Spiel</li>
					<li>Schuster gibt den Token an Lautner und Tobi weiter</li>
					<li>Lautner und Tobi joinen dem Spiel</li>
					<li>Schuster startet das Spiel mit <em>$ Spiel starten</em> an <em>server@gottkanzler.net</em></li>
					<li>Spieler machen ihre Züge</li>
					<hr>
					<li>Nach Mitternacht wertet Server die Züge aus</li>
					<li>Server sendet Antworten</li>
					<li>Server aktualisiert Webseite</li>
					<li>Wenn eine Partei Party-Presence über 50% besitzt, dann <b>gewonnen</b>, sonst wieder <em>1.</em></li>

				</ol>

				<img style="width:100%" src="/static/spielablauf.svg"/>

			</div>
			<div class="email_design email d-none d-md-block">
				<p>Date: Fri, 20 Jul 2018 14:38:59 +0200</br>
				From: Kevin Per &ltkevp.per@gmail.com&gt</br>
					To: &ltserver@gottkanzler.net&gt</br>
				Subject: Hello World!</br>
				Body:
				</br>
				**Wer bremst, verliert!** <span class="blinking-cursor">|</span>
				</p>
			</div>


		</div>
	</body>

</html>
