<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Gottkanzler</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/stylesheet.css">
	</head>

	<body class="container">
		<h1 class="title">Gottkanzler</h1>

		Dein Spiel wurde erstellt! <br/>

		Dein Token lautet: <b>{{token}}</b> <br/>

		Das Spiel startet sobald du an <em>&ltserver@gottkanzler.net&gt</em><br/> <code>$ Spiel starten</code> </br> schreibst.


	</body>

</html>
